.videoplayer {
  width: 100%;
  margin-bottom: 1em;
  background-color: #2C2F31;
}

.video-container {
  width: 100%;
  margin: auto;
}

.videoplayer.transcript-enabled .video-container {
  width: 60%;
}

.videoplayer.transcript-enabled > div:first-child {
  float: left;
}

.videoplayer .transcript {
  display: none;

  overflow-y: auto;
}

.videoplayer.transcript-enabled .transcript {
  display: block;
  width: 38%;
  padding: 0% 1%;
}

.videoplayer .transcript .cue {
  cursor: pointer;
  color: #aaa;
}

.videoplayer .transcript .cue.current {
  font-weight: bold;
  color: #eee;
}
